*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 120px;
    padding: 10px;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.4)),
      url("images/Untitled\ design\ \(1\).png");
  }
  .outer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 40px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  #state{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    height: 45px;
    font-size: 17px;
  }
  #country{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    height: 45px;
    font-size: 17px;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #253b46;
  }
  
  
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 3px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: black;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background:black;
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(135deg, #ca7652, #253b46);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  
  
  
  
  form .addon-details .addon-title{
      font-size: 20px;
      font-weight: 500;
     }
     form .categoryaddon{
       display: flex;
       width: 80%;
       margin: 14px 0 ;
       justify-content: space-between;
     }
     form .categoryaddon label{
       display: flex;
       align-items: center;
       cursor: pointer;
     }
     form .categoryaddon label .square{
      height: 18px;
      width: 18px;
      margin-right: 10px;
      background: #d9d9d9;
      border: 3px solid transparent;
      transition: all 0.3s ease;
    }
     #square-1:checked ~ .categoryaddon label .one,
     #square-2:checked ~ .categoryaddon label .two,
     #square-3:checked ~ .categoryaddon label .three{
       background: black;
       border-color: #d9d9d9;
     }
     form input[type="checkbox"]{
       display: none;
     }